* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: rgb(33, 32, 32);
    text-align: center;
    background-color: lightgray;
    padding: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 20px;
    gap: 10px;

}

.box {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(15, 15, 15);
    border: 2px solid rgba(53, 51, 51, 0.738);
}


.fBtn {
    padding: 10px 20px;
    width: auto;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

}

input[type="text"]{
    padding: 10px;
    width: 150px;
    border: 2px solid rgba(53, 51, 51, 0.738);
    font-size: 1rem;
}
button{
    margin-left: 10px;
    width: 50px;
    height: 35px;
}
button:hover{
    background-color: rgba(115, 115, 160, 0.629);
}